<h1>New Article</h1>

<% content_for :title, @website.title %>

<%= form_for @website do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => 200 %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "150x3" %>
  </p>
 
  <p>
    <%= f.label :picture_id %><br>
    <%= f.text_area :picture_id %>
  </p>

  <p>
    <%= f.label :keyword_id %><br>
    <%= f.text_area :keyword_id %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, size: "100x2" %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>