<% Rails.logger.info @website.attributes %>
<% picture = @website.picture %>

<% content_for :title, @website.title %>
<% content_for :description, @website.description %>
<% content_for :image, image_path(picture.url) %>
<% content_for :url, @website.id.present? ? @website.id.to_s : nil %>

<%= render partial: 'header' %>

<div class='article-background'>
	<div class='article'>

		<div class='article-title'><%= @website.title %></div>
		<div class='article-image'><%= image_tag picture.url, alt: picture.description, width: "300" %></div>
		<div class='article-description-container'><span class='article-description'><%= @website.description %></span></div>


		<div class='article-text'><%= @website.text %></div>
	</div>
</div>


<div class='tags'>
<h3>Other News Nuggets</h3>
	<% keyword = Keyword.find(@website.keyword_id) %>
	<% categories = keyword.categories.map{|category| category.get_categories} %>
	<% keywords = categories.map{|category| @website.get_keywords_in_category(category)}.flatten %>
	<%#= keywords %>
	<% other_websites = keywords.map{|keyword| @website.get_websites_for_keyword(keyword)}.flatten.select{|website| website.id != @website.id} %>

	<% other_websites.sample(3).each do |website| %>
		<%= render partial: 'preview', locals: {website: website} %>
	<% end %>
	<br>
	<br>
</div>

