<!DOCTYPE html>
<html>
<head>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3425420436339485",
    enable_page_level_ads: true
  });
</script>

  <title>News Nugget - <%= yield(:title) %></title>

<%= favicon_link_tag 'favicon.ico' %>

<meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'News Nugget' %>" />
<meta property="og:url" content="https://mighty-dawn-23088.herokuapp.com<%= yield(:url) %>" />
<meta property="og:type" content="website" />
<meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : 'Prime nuggets of news.' %>" />
<meta property="og:image" content="https://mighty-dawn-23088.herokuapp.com<%= content_for?(:image) ? yield(:image) : '/default.jpg' %>" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id='footer'>This website is for entertainment purposes only.</div>


</body>
</html>
