<!DOCTYPE html>
<html>
<head>
  <title>News Nugget - <%= yield(:title) %></title>

<meta property="og:title" content="<%= yield(:title) %>" />
<meta property="og:url" content="https://mighty-dawn-23088.herokuapp.com<%= yield(:url) %>" />
<meta property="og:type" content="website" />
<meta property="og:description" content="<%= yield(:description) %>" />
<meta property="og:image" content="https://mighty-dawn-23088.herokuapp.com<%= yield(:image) || '/default.jpg' %>" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id='footer'>This website is for entertainment purposes only.</div>


</body>
</html>
